html {
  overflow-x: hidden;
}

.banner {
  background: url(../../images/overlay.png), url(../../images/banner.jpeg) repeat fixed 100%;
  background-size: cover;
}

.banner-inner {
  padding-top: 20%;
  padding-bottom: 20%;
}

svg:hover, a:hover {
  transition: all 0.5s;
  fill: #A6A6A6;
}
